<div id="<%= dom_id post %>" class="post-card">

  <h3 class="post-title"><%= post.title %></h3>

  <p class="post-content"><%= post.content %></p>

  <% if user_signed_in? %>
    <%= link_to "Читать полностью", post, class: "mt-3" %>
  <% end %>

  <p class="post-author">
    <strong>Автор:</strong>
    <%= post.user.name %>
  </p>

</div>
