<%= page_heading("Личный кабинет #{@user.name}") %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= link_to "Создать пост", new_post_path, class: "btn btn-primary mt-5" %>

  <div class="field mt-3">
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field mt-3">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>В настоящее время ожидает подтверждения для: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mt-3">
    <%= f.label :password %> <i>(оставьте пустым, если не хотите его менять)</i><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br/>
      <em>Минимум <%= @minimum_password_length %> символов</em>
    <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field mt-3">
    <%= f.label :current_password %> <i>(нам нужен ваш текущий пароль, чтобы подтвердить ваши изменения)</i><br/>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Обновить", class: "btn btn-primary mt-3" %>
  </div>
<% end %>

<h3>Удаление аккаунта</h3>

<%= button_to "Удалить", registration_path(resource_name), class: "btn btn-danger mb-5", data: { confirm: "Вы уверены?" }, method: :delete %>

<%= link_to "Назад", :back %>



